#anima-div{
    background: url("../imgs/ciclo-animacao.jpg");
    height: 240px;
    width: 250px;
    animation: anima-sprite 1s steps(8) infinite;
}

@keyframes anima-sprite {

    from{background-position: 0px;}
    to{background-position: -1920px;}
    
}